<header class="header" role="banner">
  <a href="#main" class="visually-hidden">Skip to content</a>
  <% link_to '/', class: 'logo' do %>
    <%= image_tag 'logo.svg', alt: 'Silver Maple Photography' %>
  <% end %>
  <%= partial 'nav' %>
</header>