<div class="content">
  <div>
    <div class="card-image">
      <%= image_tag 'jen-dean.jpg', alt: 'Jen Dean' %>
    </div>
    <div class="card">

      <h1 class="visually-hidden">About</h1>

      <p>Hi! I&rsquo;m Jen. I am the momma of 3 darling children, and a lover of light and life. I love spending time with family and friends, eating good food, going on dates with my husband, and I love quality photographs! I love looking at them and I love taking them.</p>

      <p>I am passionate about what I do and love to capture those everyday moments that make life beautiful. I feel these moments are best captured on film. Digital has its place and I use it as needed, but film is real and tangible. It has depth and character, and a quality that cannot be imitated. Film photographs move me. They feel like home.</p>

      <p>Shooting on film allows me to slow down, read the light, stay focused on the moment, and make every shot count. I am a better photographer when I shoot film. And I love every minute of it. My goal as your photographer is to capture your life and create timeless photographs that you will treasure for years to come. I want you to be happy with your pictures not only right now, but 30 years from now as well.</p>

      <p>I have made some wonderful friends and met some incredible people along my journey, and I would love to meet you. It would be an honor to be a part of your lives and capture your special moments.</p>

      <p>Lots of love and thanks for stopping by,<br>Jen</p>

      <p>Photo credit: my handsome husband who occasionally serves as my second shooter&hellip;</p>

    </div>
  </div>
</div>