<div class="content">
  <div>
    <div class="card-image">
      <%= image_tag 'jen-dean.jpg', alt: 'Jen Dean' %>
    </div>
    <div class="card">
      <h1 class="card-title">About Jen</h1>
      <p>I am the mother of two handsome boys and a beautiful daughter, and I am married to my very own prince charming. We live in the shade of the beautiful Little Cottonwood Canyon and are loving life. I shoot film and digital&mdash;whichever you prefer!</p>
      <p>I love making memories and capturing those every day moments that make life wonderful.</p>
      <p>My life can be summed up in 5 F's and 1 P that sure sounds like an F: Faith, Family, Football, Food, Friends, and Photographs.</p>
      <p>I have made some wonderful friends and met some incredible people along the way and I can't wait to meet you! It would be an honor to be a part of your lives and to capture your special moments.</p>
      <p>Thanks for stopping by!</p>
    </div>
  </div>
</div>