<div class="content">
  <div>
    <div class="card">
      <h1 class="card-title fn">Contact</h1>
      <p>Feel free to call or email me for more information on session details and pricing.</p>
      <ul class="card-list">
        <li><a href="mailto:jen@silvermaplephotography.com" class="email">jen@<wbr>silvermaplephotography<wbr>.com</a></li>
        <li><span class="tel">801-999-8442</span>
        <li><a href="https://www.facebook.com/silvermaplephoto" target="_blank">facebook.com/<wbr>silvermaplephoto</a></li>
        <li><a href="http://www.twitter.com/jendean04" target="_blank">twitter.com/<wbr>jendean04</a></li>
      </ul>
    </div>
  </div>
</div>